*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 1.3rem;
}

html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    margin-top: 10px;
    display: block;
    background-color: black;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
}

#game-container {
    position: relative;
    z-index: 10;
    width: 1000px;
    height: 800px;
}

#ui-layer {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 10;
}

#start-menu {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    gap: 20px;
}

#start-menu h1 {
    color: white;
    font-size: 3rem;
    align-self: center;
    
}

#start-menu button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#starting-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgba(93, 92, 92, 0.8);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#starting-box button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #03fa17d2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.game-button:hover {
    background-color: #03fa18ad;
    transform: translateY(-2px) scale(1.05);

    transition: background-color 0.3s ease, transform 0.3s ease;
}

.game-button:active {
    transform: translateY(-2px) scale(1.01);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


#playing-menu {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: space-between;
    padding: 15px 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font: bold 1.2rem monospace;
}

#playing-menu button {
    padding: 5px 10px;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#score{
    color:white;
}

#lives{
    color:white;
}

#pause-menu {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}
#pause-menu h2{
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}
#pause-menu button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



#game-over-menu {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#game-over-menu h2{
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

#game-over-menu button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#game-over-menu p{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 20px;
}